@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Apercu', sans-serif;
}

:root {
    --fon--color: #d7b8ee;
    --bg-color: rgba(241, 237, 248, 0.79);
    /*--bg-color: #0d0d11;*/
    --second-bg-color: #F0EBF8;
    --text-color: #4b2f4fd4;
    --main-color: #673AB7;
    --footer-color: #281e40;
}

html {
    font-size: 62.5%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

body {
    padding-top: 20px;
    background: var(--bg-color);
    color: var(--text-color);
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    /*margin: 0.67em 0;*/
}
hr {
    box-sizing: content-box;
}


/* ======= */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    z-index: 9999;
    transition: box-shadow .10s;
}
/*! классы для тени header */

.header_mini {
    background-color: var(--bg-color);
    box-shadow: 0 0 29px -11px  rgba(0, 0, 0, 0.8 );
    padding-top: 3px;
    padding-bottom: 3px;
    /* у меньшаем header */
    transition: padding-top .5s, padding-bottom .5s;
    backdrop-filter: blur(1.2rem);
    -webkit-backdrop-filter: blur(1.2rem);
}
.header.sticky {
    background: var(--bg-color);
}
.header_burger-btn {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;
    z-index: 1;
}
.header_burger-btn span {
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: black;
    left: 5px;
    transition: transform .5s, opacity .5s, background-color .5s;
}
.header_burger-btn span:nth-child(1) {
    transform: translateY(-8px);
}
.header_burger-btn span:nth-child(3) {
    transform: translateY(8px);
}
.header.open .header_burger-btn span {
    background-color: aliceblue;
}
.header.open .header_burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}
.header.open .header_burger-btn span:nth-child(2) {
    opacity: 0;
}
.header.open .header_burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}
.img__logo {
    display: flex;
    align-items: center;
}
.address p {
    margin-right: 10rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    width: 100%;
}
.img_l {
    margin-left: 25px;
    width: 3rem;
}
.logo {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
    line-height: 2rem;
}
.navbar {
    position: relative;
}
.navbar a {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}
                    /*main*/
/*a {*/
/*    color: inherit;*/
/*    text-decoration: none;*/
/*}*/


.about_image_1{
    overflow: hidden;
    flex-direction: column;
    min-height: 90vh;
    padding: 10rem 9% 2rem;
}
.container__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 29px -11px  rgba(0, 0, 0, 0.8 );
}
.container__block_title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.container__block_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: auto;
}
.block_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /*background-color: var(--bg-color);*/
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 10px 10px;
    box-shadow: 0 0 29px -11px  rgba(0, 0, 0, 0.8 );

}
.about_image_1 p {
    font-family: 'Apercu', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 3rem;
    /*margin: 10px 10px;*/
    padding: 10px 10px;
}
                                    /*gallery*/
a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 15px;
}

.gallery{
    position: relative;

}

.gallery__link {
    display: block;
    border-radius: 10px;
    overflow: hidden;
    height: 240px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}

.gallery-pagination {
     /*width: inherit;*/
    display: flex;
    justify-content: center;
}

.gallery__btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    margin-top: -12.5px;
    border: none;
    outline: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: #673AB7;
    transition: background-color .3s;
    cursor: pointer;
}
.gallery__btn:hover {
    background-color: #8a71b7;
}

.gallery__btn_prev {
    left: -12.5px;
}

.gallery__btn_next {
    right: -12.5px;
}

.swiper-button-disabled {
    opacity: .4;
    cursor: default;
}

.swiper-pagination-total {
    opacity: .6;
}






                            /* footer */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--footer-color);
}
.footer-text,
.footer-iconTop {
    position: relative;
}
.footer-text p {
    font-size: 1rem;
    color: #f0eef1;
    text-align: center;
    margin-top: 20px;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;

}

.footer-iconTop a:hover i {
    color: var(--footer-color);
}
/* исправить home на footer */
/*.footer-sci {*/
/*    position: absolute;*/
/*    bottom: 4rem;*/
/*    width: 400px;*/
/*    display: flex;*/
/*    justify-content: space-between;*/

/*}*/

.footer-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--second-bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

a {
    margin-left: 4rem;
}

.footer-sci a::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.footer-sci a:hover {
    color: var(--bg-color);
}

.footer-sci a:hover::before {
    width: 100%;
}
.bxs-heart {
    color: red;
}
@media (max-width: 1990px){
    .img__logo {
        width: 40rem;
    }
}

@media (max-width: 940px) {
    .img__logo {
        width: 20rem;
    }
    .logo {
        font-size: 1.5rem;
        padding-left: 3rem;
    }
    .navbar a {
        font-size: 1.5rem;
        margin-left: 2rem;
    }
}

@media (max-width: 730px) {
    .img__logo {
        width: 10rem;
    }
    .logo {
        font-size: 1rem;
        padding-left: 1.3rem;
    }
    .navbar a {
        font-size: 1.3rem;
        margin-left: 1rem;
    }
}


@media (max-width: 600px) {
    .header_burger-btn {
        display: block;
    }

    .logo {
        padding-left: 0.5rem;
    }

    .img_l {
        width: 2rem;
    }

    .navbar {
        background-color: #988dac;
        position: absolute;
        left: -350px;
        top: 0;
        width: 350px;
        padding: 55px 20px 20px 35px;
        transition: transform .8s;
    }

    a {
        display: block;
    }

    .navbar a {
        color: #F0EBF8;
        font-size: 2rem;
        margin-left: 1rem;
        padding-top: 1.5rem;
    }

    .header.open .navbar {
        transform: translateX(100%);
    }

                                    /*main*/

    .about_image_1 {
        overflow: hidden;
        flex-direction: column;
        min-height: 90vh;
        padding: 10rem 9% 2rem;
    }

.container__content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    width: 100%;
    height: 80vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 29px -11px  rgba(0, 0, 0, 0.8 );
}

    .container__block_title {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .container__block_content {
        display: flex;
        /*justify-content: center;*/

        align-items: center;
        width: 100%;
        height: 35%;
        /*border: 1px solid red;*/
        /*margin: 10px 10px;*/
    }

    .block_content  {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        /*background-color: var(--bg-color);*/
        width: 50%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border: none;
        border-radius: 10px;
        margin: 10px 10px;
        padding: 10px 10px;
        box-shadow: 0 0 29px -11px  rgba(0, 0, 0, 0.8 );
    }
    .block_content {
        margin-right: 10px;
        margin-left: 10px;
    }
    /*.block_content_right {*/
    /*    margin-left: 10px;*/
    /*    margin-right: 10px;*/
    /*}*/

    .about_image_1 p {
        font-family: 'Apercu', sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 3rem;
        /*margin: 10px 10px;*/
        padding: 10px 10px;
    }

    .gallery{
        position: relative;
    }
    .gallery__link {
        display: block;
        border-radius: 10px;
        overflow: hidden;
        height: 100%;
    }

    .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .gallery__navigation {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        gap: 15px;
    }

    .gallery-pagination {
        /* width: inherit; */
        display: flex;
        justify-content: center;
    }

    .gallery__btn {
        position: absolute;
        z-index: 2;
        top: 50%;
        margin-top: -12.5px;
        border: none;
        outline: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        background-color: #673AB7;
        transition: background-color .3s;
        cursor: pointer;
    }
    .gallery__btn:hover {
        background-color: #8a71b7;
    }

    .gallery__btn_prev {
        left: -12.5px;
    }

    .gallery__btn_next {
        right: -12.5px;
    }

    .swiper-button-disabled {
        opacity: .4;
        cursor: default;
    }

    .swiper-pagination-total {
        opacity: .6;
    }

    .footer {
        width: 100%;
        padding: 18px;
    }

    .footer-sci {
        display: block;
    }

    .footer-text {
        position: absolute;
        margin-top: 80px;
        padding-bottom: 20px;
    }
}
