@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Apercu', sans-serif;
}
:root {
    --fon--color: #d7b8ee;
    --bg-color: rgba(241, 237, 248, 0.79);
    /*--bg-color: #0d0d11;*/
    --second-bg-color: #F0EBF8;
    --text-color: #040404;
    --main-color: #673AB7;
    --footer-color: #281e40;
}
html {
    font-size: 62.5%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    /*box-sizing: border-box;*/
    margin: 0 auto;
    width: 1200px;
}

body {
    padding-top: 20px;
    background: var(--bg-color);
    color: var(--text-color);
}
h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    /*margin: 0.67em 0;*/
    margin-bottom: 20px;
}
hr {
    box-sizing: content-box;
}
.page__directions {
    overflow: hidden;
    flex-direction: column;
    min-height: 90vh;
    padding: 10rem 9% 2rem;
}
.direction-container__block_title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.direction-children__container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: 0 0 29px -11px  rgba(0, 0, 0, 0.8 );
}
.direction-children__title  {
    width: 100%;
    text-align: center;
}
.direction-children__container_card {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
    /*border-radius: 10px;*/
    background-color: var(--bg-color);
    /*box-shadow: 0 0 29px -11px  rgba(0, 0, 0, 0.8 );*/
}
.direction-children__cards {
    width: 150px;
    height: 300px;
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: 0 0 29px -11px  rgba(0, 0, 0, 0.8 );
}
.direction-children__cards img {

    width: 150px;
    height: 180px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}
.direction-children__cards a {
    margin-left: 0 ;
}
h3 {
    margin-top: 3rem;
    text-align: center;
}

                    /*direction-adults*/

.direction-adults {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 80vh;
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: 0 0 29px -11px  rgba(0, 0, 0, 0.8 );
}
.direction-adults__container_card {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 80%;
    background-color: var(--bg-color);
}
.adults__cards {
    width: 150px;
    height: 300px;
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: 0 0 29px -11px  rgba(0, 0, 0, 0.8 );
}
.adults__cards img {
    width: 150px;
    height: 180px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

