.page_home {
  overflow: hidden;
  flex-direction: column;
  min-height: 90vh;
  padding: 10rem 9% 2rem;
}
    /*=== blockHome1 ===*/
.block__Home1 {
    position: relative;
    width: 100%;
    height: 85vh;
    /*background-color: white;*/
    background-image: url("/img/img2.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    /*background-position: right;*/

}
.block__Home1__mainTitle {
    position: absolute;
    top: 70%;
    left: 3%;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2;
}


    /*=== page_home ===*/
/*.block__Home2 {*/
/*    width: 100%;*/
/*    height: 90vh;*/
/*}*/
.page_home__container__title {
    font-size: 1.4rem;
    letter-spacing: .5rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding: 20px;
}
.page_home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 29px -11px  rgba(0, 0, 0, 0.8 );
}
.container__left, .container__center, .container__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 33%;
    height: 100%;
}

.container__left_card,
.container__center_card,
.container__right_card  {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 30%;
    border: none;
    border-radius: 10px;
    margin: 5px 5px;
    padding: 10px 10px;
    box-shadow: 0 0 29px -11px  rgba(0, 0, 0, 0.8 );
}
.page_home p {
    padding-top: 15px;
    font-family: 'Apercu', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: .1rem;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
/*.container__left_card {*/
/*    word-break: break-all;*/
/*}*/
.page_home p:after {
    content: " ";
    display: inline-block;
    width: 100%;
}
.page_home__container span {
    color: rgb(35, 13, 67);
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
    margin-top: 30px;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);

}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

/* .content_choose1 {
} */
/* .content__2 {
  font-size: 3rem;
} */
/* .content_choose2 {
} */
